---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3QUVXeFWpgsj4fDK05NxCc94
    body:
      encoding: UTF-8
      string: payment_method=pm_1QycnNFWpgsj4fDKlNlhPukY
    headers:
      Authorization:
      - Bearer <stripe_secret>
      Idempotency-Key:
      - fe6600a1-a30c-46cb-b63c-d9df50aabbe9
      Stripe-Version:
      - 2024-12-18.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fe6600a1-a30c-46cb-b63c-d9df50aabbe9
      Original-Request:
      - req_nhXNqfCLbvlQOu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-12-18.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3QUVXeFWpgsj4fDK05NxCc94",
          "object": "payment_intent",
          "amount": 1998,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic_async",
          "client_secret": "pi_3QUVXeFWpgsj4fDK05NxCc94_secret_sl8a0nX9wXubwCWAzEsldI7Tw",
          "confirmation_method": "automatic",
          "created": 1733845206,
          "currency": "gbp",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1QycnNFWpgsj4fDKlNlhPukY",
          "payment_method_configuration_details": {
            "id": "pmc_1QUVA6FWpgsj4fDKbxDqhxKv",
            "parent": null
          },
          "payment_method_options": {
            "afterpay_clearpay": {
              "reference": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            },
            "paypal": {
              "preferred_locale": null,
              "reference": null
            }
          },
          "payment_method_types": [
            "card",
            "afterpay_clearpay",
            "klarna",
            "link",
            "paypal"
          ],
          "processing": null,
          "receipt_email": "rolland_glover@monahan.test",
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 03 Mar 2025 17:29:21 GMT
recorded_with: VCR 6.3.1
