---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customer_sessions
    body:
      encoding: UTF-8
      string: customer=cus_RNzSxzNYWd2eZ4&components[payment_element][enabled]=true&components[payment_element][features][payment_method_redisplay]=enabled
    headers:
      Authorization:
      - Bearer <stripe_secret>
      Idempotency-Key:
      - a961dcd8-0738-489b-bd90-f6e333c89353
      Stripe-Version:
      - 2024-10-28.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a961dcd8-0738-489b-bd90-f6e333c89353
      Original-Request:
      - req_nVg6eRa3yBI2JI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "customer_session",
          "client_secret": "cuss_secret_RQFQ5qZJ1C2TwsX3iQnWA7rBGdNNquDz9rr73e8MpqYeZYn",
          "components": {
            "buy_button": {
              "enabled": false
            },
            "payment_element": {
              "enabled": true,
              "features": {
                "payment_method_allow_redisplay_filters": [
                  "always"
                ],
                "payment_method_redisplay": "enabled",
                "payment_method_redisplay_limit": 3,
                "payment_method_remove": "disabled",
                "payment_method_save": "disabled",
                "payment_method_save_usage": null
              }
            },
            "pricing_table": {
              "enabled": false
            }
          },
          "created": 1734534753,
          "customer": "cus_RNzSxzNYWd2eZ4",
          "expires_at": 1734536553,
          "livemode": false
        }
  recorded_at: Wed, 18 Dec 2024 15:12:33 GMT
recorded_with: VCR 6.3.1
