---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3QXMmnFWpgsj4fDK2CNTkBBl/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <stripe_secret>
      Idempotency-Key:
      - 8c8c2074-f0ab-4044-8de9-97782cc6f206
      Stripe-Version:
      - 2024-10-28.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8c8c2074-f0ab-4044-8de9-97782cc6f206
      Original-Request:
      - req_ThQ1ygT6v4jCUR
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3QXMmnFWpgsj4fDK2CNTkBBl",
          "object": "payment_intent",
          "amount": 499,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 499,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3QXMmnFWpgsj4fDK2CNTkBBl_secret_OSNEyRowr0QnrXewdqsPbt34V",
          "confirmation_method": "automatic",
          "created": 1734526533,
          "currency": "gbp",
          "customer": "cus_RNzSxzNYWd2eZ4",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3QXMmnFWpgsj4fDK22m4nY0x",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1QVZkBFWpgsj4fDK1aUPwLEX",
          "payment_method_configuration_details": {
            "id": "pmc_1QUVA6FWpgsj4fDKbxDqhxKv",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "link": {
              "persistent_token": null
            },
            "paypal": {
              "preferred_locale": null,
              "reference": null
            }
          },
          "payment_method_types": [
            "card",
            "link",
            "paypal"
          ],
          "processing": null,
          "receipt_email": "customer@alpaca.com",
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 18 Dec 2024 15:10:21 GMT
recorded_with: VCR 6.3.1
