---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=gina%40pfannerstill.example&metadata[user_id]=1
    headers:
      Authorization:
      - Bearer <stripe_secret>
      Idempotency-Key:
      - 571ad145-c8c4-47d9-981d-7422c4c3f587
      Stripe-Version:
      - 2024-10-28.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 571ad145-c8c4-47d9-981d-7422c4c3f587
      Original-Request:
      - req_zp6MYGvvXnd203
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RO4kYXL8E8Symo",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1734033781,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gina@pfannerstill.example",
          "invoice_prefix": "39AB2A8C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "user_id": "1"
          },
          "name": null,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 12 Dec 2024 20:02:59 GMT
recorded_with: VCR 6.3.1
