---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=antony%40larson-ward.test&metadata[user_id]=1
    headers:
      Authorization:
      - Bearer <stripe_secret>
      Idempotency-Key:
      - '096668fc-ba30-4869-8d3d-38c087f9c6a2'
      Stripe-Version:
      - 2024-10-28.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '096668fc-ba30-4869-8d3d-38c087f9c6a2'
      Original-Request:
      - req_EBVCzYm3Ah86R9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-10-28.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RO4ZSLDZrFlXOU",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1734033105,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "antony@larson-ward.test",
          "invoice_prefix": "21D9127E",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "user_id": "1"
          },
          "name": null,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 12 Dec 2024 19:51:44 GMT
recorded_with: VCR 6.3.1
