---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[token]=tok_visa&billing_details[name]=John+Doe
    headers:
      Authorization:
      - Bearer <stripe_secret>
      Idempotency-Key:
      - 2a77c598-f39c-42c5-9a88-ecc92895eec7
      Stripe-Version:
      - 2024-12-18.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2a77c598-f39c-42c5-9a88-ecc92895eec7
      Original-Request:
      - req_MMPDBwhhNDuj5X
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2024-12-18.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1QycnNFWpgsj4fDKlNlhPukY",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "John Doe",
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 3,
            "exp_year": 2026,
            "fingerprint": "p1KP3jjTyrsUuR3B",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1741022929,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 03 Mar 2025 17:28:48 GMT
recorded_with: VCR 6.3.1
