---
http_interactions:
  - request:
      method: post
      uri: https://api.stripe.com/v1/payment_intents/pi_3QUVXeFWpgsj4fDK05NxCc94
      body:
        encoding: UTF-8
        string: amount=1998&currency=gbp&receipt_email=patricia.schneider%40greenholt.test
      headers:
        Authorization:
          - Bearer sk_test_51QMsP1FWpgsj4fDKsFnEmd0V2MbHbpnZSTxp8ZWfjNPxNk1amjxt0jr68fAWryudaxaDxakEFmt2oGFfHDCRn0cA00jWOXWIae
        Idempotency-Key:
          - 7e0051b9-3f8a-46b0-b42e-d8554a92b866
        Stripe-Version:
          - 2024-10-28.acacia
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
        Idempotency-Key:
          - 7e0051b9-3f8a-46b0-b42e-d8554a92b866
        Original-Request:
          - req_GicjHS2ggtBxXP
        Stripe-Should-Retry:
          - "false"
        Stripe-Version:
          - 2024-10-28.acacia
        X-Wc:
          - AB
      body:
        encoding: UTF-8
        string: |-
          {
            "id": "pi_3QUVXeFWpgsj4fDK05NxCc94",
            "object": "payment_intent",
            "amount": 1998,
            "amount_capturable": 0,
            "amount_details": {
              "tip": {}
            },
            "amount_received": 0,
            "application": null,
            "application_fee_amount": null,
            "automatic_payment_methods": {
              "allow_redirects": "always",
              "enabled": true
            },
            "canceled_at": null,
            "cancellation_reason": null,
            "capture_method": "automatic_async",
            "client_secret": "pi_3QUVXeFWpgsj4fDK05NxCc94_secret_sl8a0nX9wXubwCWAzEsldI7Tw",
            "confirmation_method": "automatic",
            "created": 1733845206,
            "currency": "gbp",
            "customer": null,
            "description": null,
            "invoice": null,
            "last_payment_error": null,
            "latest_charge": null,
            "livemode": false,
            "metadata": {},
            "next_action": null,
            "on_behalf_of": null,
            "payment_method": null,
            "payment_method_configuration_details": {
              "id": "pmc_1QUVA6FWpgsj4fDKbxDqhxKv",
              "parent": null
            },
            "payment_method_options": {
              "card": {
                "installments": null,
                "mandate_options": null,
                "network": null,
                "request_three_d_secure": "automatic"
              },
              "link": {
                "persistent_token": null
              }
            },
            "payment_method_types": [
              "card",
              "link"
            ],
            "processing": null,
            "receipt_email": "patricia.schneider@greenholt.test",
            "review": null,
            "setup_future_usage": null,
            "shipping": null,
            "source": null,
            "statement_descriptor": null,
            "statement_descriptor_suffix": null,
            "status": "requires_payment_method",
            "transfer_data": null,
            "transfer_group": null
          }
    recorded_at: Tue, 10 Dec 2024 15:43:58 GMT
recorded_with: VCR 6.3.1
