/ = link_to checkout_path, class: "text-decoration-none text-dark" do
/   .col-12.bg-secondary.d-flex.pt-2.ps-2.pe-2 style = "position: fixed; bottom: 0; z-index: 1000;"
/     .col-2
/     .d-flex.brand-font.justify-content-center.flex-fill
/       i.fa-solid.fa-shopping-basket.pe-2.h2
/       h2 = "£#{current_user.basket.total}"
/     .col-2.d-flex.justify-content-end
/       h3.brand-font
/         | Checkout
/         i.fa-solid.fa-arrow-right.ps-2

      
        